.logo-container{ background-color: #1F1F1F;}

/*
.div-hide{
  background: url('/images/background-login.jpg');  height:100vh;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: #662482;
    }

   #div-hide{ display: none;}
}*/
