#new-product-content.x_content{
    display:none;
}

.top_nav .navbar-right {

    width: auto !important;
}

.nav-sm .navbar.nav_title {

    width: auto !important;
}


body{
    background: #fff !important;
}